@charset "utf-8";

#formWrap {
	margin: 0;
	float: right;
	width: 300px;
	direction: rtl;
	text-align: left;
	}

form#frmContact {
	}

fieldset {
	margin: 0 0;
	padding: 0 0.5em 0 0;
	}

legend {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	color: #602E0C;
	line-height: 1.4;
	padding: 0.2em .5em;
	margin-left: 0.5em;
}

#formWrap p {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #602E0C;
	font-size: 1em;
	line-height: 1.2;
	margin: 1em 0;
}

input.text {
	width: 200px;
}

textarea {
	width: 250px;
	margin-top: 0.5em;
}

label.top {
	display: block;
	margin-bottom: .5em;
}

label.check {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .75em;
	line-height: 1;
	color: #000;
}

#MCForm {

}
